/* google fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Work+Sans:300,400,500,600,700,800');

/* 1. Theme default css */
 body {
	font-family: 'Work Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
}
a,
.button,button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:hover{
	text-decoration: none;
}
a:focus,
button:focus,input:focus, textarea:focus {
	text-decoration: none;
	outline: none;
}
button{cursor: pointer}

.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	color: #333333;
	margin-top: 0px;
	font-style: normal;
	font-weight: 400;
	text-transform: normal;
}

h1 {
	font-size: 40px;
	font-weight: 500;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 17px;
	font-weight: normal;
	line-height: 30px;
	color: #777777;
	margin-bottom: 15px;
}
a{
	color: #333;
	font-family: sans-serif;
	font-weight: 500;
}

/* Custom css start */

/* Header Top */
.header-top-wrapper {
	background-color: #fff;
	-webkit-box-shadow: 0px 5px 42px -28px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 5px 42px -28px rgba(0,0,0,0.4);
	box-shadow: 0px 5px 42px -28px rgba(0,0,0,0.4);
	position: relative;
	z-index: 9;
} 
.header-top-wrapper  .header-top-navbar{ 
	padding: 10px 0;
}
.header-top-left a.logo img {
	max-width: 100%;
	height: auto;
}
.header-top-left a.link {
	display: inline-block;
	color: #000;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 15px;
	line-height: 26px;
	padding: 5px 15px;
	border-radius: 6px;
	margin-left: 10px;
}

.header-top-left a.link i {
	margin-left: 5px;
	font-size: 16px;
}




.header-top-menu ul li {
	display: inline-block;
	margin: 0 10px;
}

.header-top-menu ul li:last-child {
	margin-right: 0;
}

.header-top-menu ul li:first-child {
	margin-left: 0;
}

.header-top-menu ul li a {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 26px;
	padding: 8px 0;
	display: block;
	color: rgb(0,0,0,0.75);
}
.header-top-menu ul li a:hover {
	color:rgb(0,0,0, 1);
}

.header-top-right ul.top-right-option li {
    display: inline-block;
		margin: 0 5px;
		position: relative;
}
.header-top-right ul.top-right-option li a.dropdown-toggle::after{
	display: none;
}
.header-top-right ul.top-right-option li:last-child {
    margin-right: 0;
}

.header-top-right ul.top-right-option li:first-child {
    margin-left: 0;
}
.header-top-right ul.top-right-option li a {
    font-size: 18px;
    line-height: 26px;
    display: block;
    padding: 5px 0;
}
.header-top-right ul.top-right-option li button.sign-in {
	background-color: #fff;
	border: 2px solid #0014ff;
	text-transform: uppercase;
	color: #0014ff;
	display: inline-block;
	padding: 10px 15px;
	border-radius: 7px;
	font-size: 14px;
	font-weight: 600;
}

.header-top-right ul.top-right-option li button.sign-in i {
	margin-right: 5px;
	font-size: 16px;
}

.header-top-right ul.top-right-option li button.sign-in:hover {
	color: #fff;
	background-color: #0014ff;
}

.header-top-right ul.top-right-option li ul.dropdown-menu{
	border: none;
	width: 230px;
	left: -115px;
}


.header-top-right ul.top-right-option li ul.dropdown-menu button {
	width: 45px;
	height: 35px;
	background-color: #fff;
	border: 1px solid #333;
	border-radius: 6px;
	color: #333;
	font-size: 16px;
	line-height: 32px;
}

.header-top-right ul.top-right-option li ul.dropdown-menu button:hover {
	background-color: #333;
	color: #fff;
}
.header-top-right ul.top-right-option li ul.dropdown-menu input {
	width: calc(100% - 55px);
	height: 35px;
	border: 1px solid #333;
	color: #000;
	border-radius: 6px;
	font-size: 16px;
	padding-left: 10px;
}
/* Header Top End */

/* Header Nav */
.main-menu-wrapper {
	background-color: #f8f9fa;
}
.main-menu ul li a {
	font-size: 14px;
	color: rgb(0,0,0,0.7);
	line-height: 28px;
	display: block;
	font-weight: 500;
	text-transform: uppercase;
}
.main-menu ul li a:hover {
	color: rgb(0,0,0,1);
}

/* Header nav End */


/* Section Title */
.recommended-card-title {
	padding-top: 30px;
	padding-bottom: 30px;
	/* background-color: #F5F6F7; */
	background-color: #fff;
}
.recommended-card-title p span {
	color: #797474;
}

.recommended-card-title p {
	color: #000;
	font-size: 16px;
	margin-bottom: 0;
	line-height: 26px;
}

.recommended-card-title p a {
	color: #4988CD;
	font-size: 14px;
}
.recommended-card-title h4 {
	color: #0E3247;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: 600;
}
/* Section Title End */



/* Card Slider Area */
.card-slider-wrap {
	background-image: url('../img/slider-bg.jpg');
	background-size: cover;
	background-position: center;
	padding: 40px 60px;
}
.single-card-slide .slider-title h4 {
	color: #fff;
	line-height: 26px;
	font-size: 18px;
}
.card-slider button.slick-arrow {
	position: absolute;
	top: 50%;
	left: -35px;
	background-color: transparent;
	color: #fff;
	border: none;
	font-size: 28px;
	transform: translate(0, -50%);
}
.card-slider button.slick-arrow.slick-next {
	left: auto;
	right: -35px;
}
/* Card Slider Area End */




/* Content Section */

.content-section-wrap {
	padding-top: 100px;
	padding-bottom: 70px;
}

/* Side Bar Area */
ul.sidebar-link{
	margin-bottom: 30px;
	padding-top: 20px;
	position: relative;
}
ul.sidebar-link:before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	background-color: #FBB710;
	width: 50px;
	height: 3px;
}
ul.sidebar-link li a {
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 500;
	display: inline-block;
	color: rgb(0,0,0,0.7);
}
ul.sidebar-link li a:hover {
	color: rgb(0,0,0,1);
	text-decoration: underline;
}

/* Sidebar Check Box FOrm Style */

.sidebar-check-form .title h4 {
	font-size: 18px;
	color: #6d6d6d;
	line-height: 32px;
	margin-bottom: 20px;
	padding-bottom: 5px;
	border-bottom: 2px solid #eee;
}

.sidebar-check-form .single-check-box {
	position: relative;
}

.sidebar-check-form input[type="checkbox"] + label {
	display: block;
	color: #5f5f5f;
	font-size: 16px;
	padding-left: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
	cursor: pointer;
}
.sidebar-check-form input[type="checkbox"] {
	display: none;
}
.sidebar-check-form input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0;
}
.sidebar-check-form input[type="checkbox"] + label::before {
	content: "\2714";
	border: 2px solid #EAEDF4;
	border-radius: 6px;
	display: inline-block;
	padding: 1px 7px;
	color: transparent;
	position: absolute;
	left: 0;
	top: -2px;
	cursor: pointer;
}

.sidebar-check-form input[type="checkbox"]:checked + label:before{
	color: #000;
	border: 2px solid #16fe8a;
}
/* Sidebar Check Box FOrm Style */

/* Side Bar Area End */



/* Card Style */
.card {
	margin-bottom: 30px;
}
.card .card-header {
	padding: 0;
}
.card  .card-body {
	padding: 20px 10px;
	padding-bottom: 15px;
}
.card .card-body .author-img {
	width: 35px;
	height: 35px;
	margin-right: 10px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.card .card-body .author-content {
	margin-bottom: 15px;
}
.card .card-body .author-content a h6 {
	color: #0e0e0f;
	font-size: 16px;
	margin-bottom: 0;
	line-height: 16px;
}

.card .card-body .author-content a h6:hover {
	text-decoration: underline;
}
.card .card-body .author-content span {
	color: #b2b2b2;
	font-size: 12px;
	line-height: 12px;
	text-transform: capitalize;
}
.card-body a h4 {
	color: #303030;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 20px;
}

.card-body a h4:hover {
	color: #1dbf73;
}

.card .card-body .rating p {
	margin-bottom: 0;
	font-size: 14px;
	line-height: 18px;
}
.card .card-body .rating p span{
	color: #ffbf00;
	font-weight: 600;
	font-size: 16px;
	margin-right: 7px;
}
.card .card-body .rating p span i {
	margin-right: 5px;
}

.card-footer .card-footer-right p {
	font-size: 12px;
	color: #555;
	margin-bottom: 0;
	line-height: 18px;
}
.card-footer .card-footer-right p span {
	font-size: 17px;
	font-weight: 600;
}
.card-footer {
	padding: 10px 10px;
	padding-bottom: 15px;
	background-color: #fff;
}
.card-footer-left ul.options li {
	display: inline-block;
	margin-right: 10px;
}

.card-footer-left ul.options li a {
	font-size: 16px;
	color: #c6c6c6;
}
.card-footer-left ul.options li a:after {
	display: none;
}
.card-footer-left ul.options li:last-child {
	margin-right: 0;
}
.card-footer-left ul.dropdown-menu{
	min-width: 0;
	text-align: left;
	padding: 0;
}

.card-footer-left ul.dropdown-menu li {
	display: block !important;
	border-bottom: 2px solid #eee;
	margin-right: 0 !important;
	padding: 3px 5px
}
.card-footer-left ul.dropdown-menu li:hover {
	background-color: rgb(240, 239, 239);
}
.card-footer-left ul.dropdown-menu li:last-child {
	border-bottom: none;
}

.card-footer-left ul.dropdown-menu li a {
	color: #999 !important;
	font-size: 12px !important;
	display: inline-block;
}

.card-footer-left ul.dropdown-menu li a i {
	margin-right: 5px;
	font-size: 14px;
}
/* Card Style End */